$font-family-title :"Helvetica";
$font-family-p :"Arial";
$font-size-h1:44px;
$font-size-h2:20px;
$font-size-h3:36px;
$font-size-h4:22px;
$font-size-h5:14px;
$font-size-hregular:18px;
$font-size-p:16px;
$font-color-default: white;
$font-color-primary: #1F3F68;
$font-color-secondary: #356EAD;
$font-color-regular: black;
$line-heigt-h2:23px;
$line-heigt-h3:46px;
$line-heigt-h4:32px;
$line-heigt-h4b:28px;
$line-heigt-p:26px;