/*MIXINGS*/
/*****FOOT_CARD*****/
.foot_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.foot_card h5 {
  font-size: 14px;
  font-family: "Helvetica";
  color: #1F3F68;
  padding-bottom: 4px;
  font-weight: bold;
}
.foot_card p {
  font-size: 14px;
  font-family: "Arial";
  color: #1F3F68;
  opacity: 40%;
}
.foot_card_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.foot_card_image {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.foot_card_image img {
  padding-left: 38px;
  height: 19px;
}

/****GLOBALES****/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  width: 1360px;
}
@media (max-width: 880px) {
  .wrapper {
    width: 100%;
    margin: auto;
  }
}

/****MAIN****/
main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  width: 100%;
}
@media (max-width: 880px) {
  main {
    margin: auto;
  }
}
@media (max-width: 585px) {
  main {
    text-align: center;
    width: 100%;
    margin: auto;
  }
}

/****title****/
.title {
  background: url("../image/Mask Group.png");
  background-size: 100%;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.title_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  color: white;
  width: 55%;
}
.title_div h1 {
  font-size: 44px;
  font-family: "Helvetica";
  padding-bottom: 16px;
}
.title_div h2 {
  font-size: 20px;
  font-family: "Helvetica";
  line-height: 30px;
}
@media (max-width: 880px) {
  .title {
    background-size: auto;
  }
}
@media (max-width: 585px) {
  .title {
    background-size: auto;
  }
}

/****HEADER****/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header div {
  padding-left: 30px;
}
header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
header li {
  padding-right: 36px;
  padding-left: 36px;
  font-size: 20px;
  font-family: "Helvetica";
  color: #1F3F68;
  font-weight: bold;
}
@media (max-width: 880px) {
  header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header ul li:last-child {
    padding-right: 70px;
  }
}
@media (max-width: 585px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header ul {
    background: yellow;
  }
  header ul li {
    padding-left: 2%;
  }
  header ul li:last-child {
    padding-right: 2px;
  }
}

/*****POPULAR*****/
.popular {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 65%;
  margin: auto;
  text-align: center;
  padding-top: 56px;
  /*****CARD PRIMARRY*****/
  /*****CARD SECONDARY*****/
}
.popular_search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  vertical-align: middle;
  margin: auto;
  width: 100%;
}
.popular_search figure {
  padding: 19px;
  position: absolute;
}
.popular_search img {
  width: 18px;
  height: 18px;
}
.popular_search input {
  width: 100%;
  height: 56px;
  border: none;
  background: #F4F4F4;
  padding-left: 60px;
  border-radius: 10px;
  font-size: 16px;
  color: #1F3F68;
}
.popular h2 {
  padding-top: 56px;
  padding-bottom: 34px;
  text-align: left;
  font-size: 20px;
  font-family: "Helvetica";
  color: #356EAD;
  font-weight: bold;
}
.popular .card_primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.popular .card_primary_content {
  width: 40%;
  padding-right: 20px;
}
.popular .card_primary_content h3 {
  font-size: 36px;
  font-family: "Helvetica";
  color: #1F3F68;
  text-align: left;
  line-height: 46px;
  font-weight: bold;
}
.popular .card_primary_content > p {
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 16px;
  font-family: "Arial";
  color: black;
  line-height: 26px;
  text-align: left;
}
.popular .card_primary_image {
  min-height: 100%;
}
.popular .card_general_secondary {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 33px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.popular .card_general_secondary .card_secondary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 32%;
}
.popular .card_general_secondary .card_secondary_fig {
  width: 100%;
  height: 200px;
}
.popular .card_general_secondary .card_secondary_content h4 {
  font-size: 22px;
  font-family: "Helvetica";
  color: #1F3F68;
  text-align: left;
  line-height: 32px;
  padding-top: 12px;
  font-weight: bold;
}
.popular .card_general_secondary .card_secondary_content h4 p {
  font-size: 16px;
  font-family: "Arial";
  color: black;
  line-height: 26px;
  text-align: left;
  padding-top: 12px;
  padding-bottom: 34px;
  font-weight: normal;
}
.popular nav {
  padding-top: 54px;
  padding-bottom: 26px;
  width: 100%;
  font-family: "Helvetica";
  font-size: 16px;
  text-align: right;
  font-weight: bold;
  color: #356EAD;
}
.popular hr {
  width: 100%;
  border: 1px solid grey;
}
@media (max-width: 880px) {
  .popular {
    padding-top: 20px;
    width: 95%;
  }
  .popular h2 {
    padding-top: 20px;
  }
  .popular .card_primary {
    overflow: hidden;
  }
  .popular .card_primary_content {
    min-width: 40%;
  }
  .popular .card_primary .card_primary_image img {
    background-size: 60%;
    min-height: 100%;
  }
}
@media (max-width: 585px) {
  .popular .card_primary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .popular .card_primary_content {
    background: green;
    width: 100%;
  }
}

/****ALL ARTICLE****/
.all_article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 65%;
  margin: auto;
  text-align: center;
  padding-top: 56px;
  padding-bottom: 98px;
}
.all_article h2 {
  font-size: 20px;
  font-family: "Helvetica";
  color: #356EAD;
  text-align: left;
  line-height: 23px;
  padding-bottom: 2px;
  font-weight: bold;
}
.all_article .card_regular {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 32px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.all_article .card_regular > figure {
  width: 35%;
  height: 210px;
}
.all_article .card_regular_fig {
  height: 210px;
  width: 100%;
}
.all_article .card_regular_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 20px;
  width: 63.5%;
}
.all_article .card_regular_content h4 {
  font-size: 18px;
  font-family: "Helvetica";
  color: #1F3F68;
  text-align: left;
  line-height: 28px;
  padding-top: 12px;
  font-weight: bold;
}
.all_article .card_regular_content > p {
  padding-bottom: 35px;
  padding-right: 35px;
  font-size: 14px;
  font-family: "Arial";
  color: black;
  line-height: 26px;
  text-align: left;
}
.all_article_foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 56px;
}
.all_article_foot .arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.all_article_foot .arrows p {
  padding-left: 10px;
  font-family: "Arial";
  font-size: 16px;
  color: #356EAD;
}
@media (max-width: 880px) {
  .all_article {
    width: 95%;
  }
  .all_article .card_regular_content > p {
    padding-right: 0px;
    text-align: left;
  }
}

/*****FOOTER*****/
footer {
  background: #316099;
}
footer .intersted {
  background: #316099;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 65%;
  margin: auto;
}
footer .intersted .intersted_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
footer .intersted .intersted_top_content {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer .intersted .intersted_top_content h3 {
  font-size: 36px;
  font-family: "Helvetica";
  line-height: 46px;
  color: white;
  padding-top: 91px;
  width: 70%;
  text-align: left;
}
footer .intersted .intersted_top_content p {
  padding-top: 32px;
  padding-bottom: 90px;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  font-size: 16px;
  color: white;
  font-family: "Arial";
  line-height: 26px;
  opacity: 60%;
  text-align: left;
  width: 90%;
}
footer .intersted .intersted_top_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  width: 50%;
}
footer .intersted .intersted_top_button button {
  width: 220px;
  height: 56px;
  border: none;
  color: white;
  background: #5A98D0;
  font-family: "Arial";
  font-size: 16px;
}
footer .intersted hr {
  width: 100%;
  border: 1px solid white;
}
footer .intersted .intersted_button {
  width: 100%;
  padding: 98px 0 64px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .intersted .intersted_button_lu_primary {
  width: 30%;
  color: white;
}
footer .intersted .intersted_button_lu_primary lu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
}
footer .intersted .intersted_button_lu_primary lu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 24px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
footer .intersted .intersted_button_lu_primary lu li span {
  font-size: 16px;
  font-family: "Arial";
  padding-top: 5px;
}
footer .intersted .intersted_button_lu_primary lu li a {
  padding-left: 16px;
  font-size: 16px;
  font-family: "Arial";
  line-height: 26px;
}
footer .intersted .intersted_button_lu_primary lu li:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 32px;
  font-weight: bold;
}
footer .intersted .intersted_button_lu_primary lu li:nth-child(1) h2 {
  padding-left: 25px;
  font-size: 28px;
  font-family: "Gilroy";
  color: white;
}
footer .intersted .intersted_button_lu_secondary {
  width: 25%;
  color: white;
}
footer .intersted .intersted_button_lu_secondary lu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  padding-left: 35%;
}
footer .intersted .intersted_button_lu_secondary lu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 24px;
}
footer .intersted .intersted_button_lu_secondary lu li a {
  padding-left: 16px;
  font-size: 16px;
  font-family: "Arial";
  line-height: 26px;
}
footer .intersted .intersted_button_lu_secondary lu li:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 32px;
  font-size: 20px;
  font-family: "Helvetica";
  color: white;
  font-weight: bold;
}
footer .intersted_right_reserved {
  padding: 40px 0 64px 0;
  font-size: 16px;
  font-family: "Arial";
  color: white;
  opacity: 40%;
}
@media (max-width: 880px) {
  footer {
    width: 100%;
    margin: auto;
  }
  footer .intersted {
    width: 78%;
  }
  footer .intersted .intersted_top_content h3 {
    padding-top: 30px;
  }
  footer .intersted .intersted_top_content > p {
    padding-bottom: 60px;
  }
  footer .intersted .intersted_top_button button {
    margin: auto;
    max-width: 40%;
  }
  footer .intersted .intersted_button {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 15px 0 0 0;
  }
  footer .intersted .intersted_button .intersted_button_lu_primary {
    min-width: 50%;
    padding-bottom: 2.5%;
  }
  footer .intersted .intersted_button .intersted_button_lu_primary li {
    padding-right: 10%;
  }
  footer .intersted .intersted_button .intersted_button_lu_secondary {
    min-width: 50%;
  }
  footer .intersted .intersted_button .intersted_button_lu_secondary lu {
    padding: 0;
  }
}