$font-family-title :"Helvetica";
$font-family-p :"Arial";
$font-size-h1:44px;
$font-size-h2:20px;
$font-size-h3:36px;
$font-size-h4:22px;
$font-size-h5:14px;
$font-size-hregular:18px;
$font-size-p:16px;
$font-color-default: white;
$font-color-primary: #1F3F68;
$font-color-secondary: #356EAD;
$font-color-regular: black;
$line-heigt-h2:23px;
$line-heigt-h3:46px;
$line-heigt-h4:32px;
$line-heigt-h4b:28px;
$line-heigt-p:26px;



/****GLOBALAES****/
*{
    box-sizing: border-box;
}

.wrapper{    
    display: flex;
    flex-direction: column;    
    margin: auto;    
    width: 1360px;
}

/****HEADER****/

header{
    display:flex; 
    align-items: center;    
    height: 100px;

    div{
        width: 100%; 
        padding-left: 95px;       
    }

    ul{
        display: flex;
        flex-direction: row;
    }

    li{
        padding-right: 36px;
        padding-left: 36px;
        font-size: $font-size-h2;
        font-family: $font-family-title;
        color: $font-color-primary;
    }   
}

/****MAIN****/

main{    
    flex-grow: 1;
    text-align: center;
    width: 100%;
}

/*****FOOT_CARD*****/
.foot_card{        
    display: flex;            
    flex-direction: row;
    justify-content: space-between;     
    
    h5{            
        font-size: $font-size-h5;
        font-family: $font-family-title;
        color: $font-color-primary;
        padding-bottom: 4px;
        font-weight: bold;
    }

    p{           
        font-size: $font-size-h5;
        font-family: $font-family-p;
        color: $font-color-primary;
        opacity: 40%;               
    }
    
    & .content_foot_card{
        display: flex;
        flex-direction: column;   
        text-align: center;                           
    }

    & .image_foot_card{
        display: inline-flex;
        align-items: center;            

        &  img{
            padding-left: 38px;
            height: 19px;               
        };                
    }
}

/****title****/

.title{
    background: url("/Tarea5/image/Mask\ Group.png");
    background-size: 100%;    
    height: 250px;     
    display: flex;       
    
    &_div{        
        display: flex;
        flex-direction: column;        
        margin: auto;
        color: $font-color-default;
        width: 55%;        
                
        h1{
            font-size: $font-size-h1;
            font-family: $font-family-title;
            padding-bottom: 16px;              
        }

        h2{
            font-size: $font-size-h2;
            font-family: $font-family-title;
            line-height: 30px;            
        }
    }  
}

/*****PPPULAR*****/
.popular{
    display: flex;
    flex-direction: column;
    width: 65%;
    margin: auto;
    text-align: center;
    padding-top: 56px;

    & .search{
        display: flex;                
        text-align: center;               
        vertical-align: middle;        
        margin: auto;
        width: 100%;        
        
        & figure{                        
            padding: 19px;
            position: absolute;
        }

        & img{                         
            width: 18px;
            height: 18px;            
        }

        & input{
            width: 100%;
            height: 56px;
            border: none;
            background: #F4F4F4;  
            padding-left: 60px; 
            border-radius:10px;            
            font-size: 16px;
            color:#1F3F68;
        }        
    }

    & h2{
        padding-top: 56px;
        padding-bottom: 34px;
        text-align: left;
        font-size: $font-size-h2;
        font-family: $font-family-title;
        color:$font-color-secondary;
        font-weight: bold;        
    }

    /*****CARD PRIMARRY*****/
    & .card_primary{
        display: flex;        

        & .content_card_primary{
            width: 40%;
            padding-right: 20px;

            h3{
                font-size: $font-size-h3;  
                font-family: $font-family-title;            
                color: $font-color-primary;
                text-align: left;     
                line-height: $line-heigt-h3; 
                font-weight: bold;      
            }
    
           > p{
                padding-top: 16px;
                padding-bottom: 16px;
                font-size: $font-size-p;  
                font-family: $font-family-p;            
                color: $font-color-regular;
                line-height: $line-heigt-p;       
                text-align: left; 
            }
        }

        
    }

     /*****CARD PRIMARRY*****/
     & .card_general_secondary{
        width: 100%;   
        display: flex;
        flex-direction: row;
        padding-top: 33px;
        justify-content: space-between;

        & .card_secondary{
            display: flex;
            flex-direction: column;    
            width:32%;            
            

            & .fig_card_secondary{
                width: 100%;
                height:200px;
            }

            & .content_card_secondary{               
        
                h4{
                    font-size: $font-size-h4;  
                    font-family: $font-family-title;            
                    color: $font-color-primary;
                    text-align: left;     
                    line-height: $line-heigt-h4; 
                    padding-top: 12px;  
                    font-weight: bold; 

                    p{                
                        font-size: $font-size-p;  
                        font-family: $font-family-p;            
                        color: $font-color-regular;
                        line-height: $line-heigt-p;       
                        text-align: left; 
                        padding-top: 12px;
                        padding-bottom: 34px;
                        font-weight: normal; 
                    }
                }
        
                
            }
        }

     }

    nav{
        padding-top: 54px;
        padding-bottom: 26px;
        width: 100%;
        font-family: $font-family-title;
        font-size: $font-size-p;
        text-align: right;        
    }

    hr{
        width: 100%;
        border: 1px solid grey;  
    }   
    
}

/****ALL ARTICLE****/

.all_article{    
    display: flex;
    flex-direction: column;
    width: 65%;
    margin: auto;
    text-align: center;
    padding-top: 56px;
    padding-bottom: 98px;

    h2{      
      font-size: $font-size-h2;
      font-family: $font-family-title;
      color: $font-color-secondary;
      text-align: left;      
      line-height: $line-heigt-h2; 
      padding-bottom: 2px;  
      font-weight: bold; 
    }

    & .card_regular{
        display: flex;       
        padding-top: 32px;       
        justify-content: space-between;


        >figure{
            width: 35%;
            height: 210px;
        }

        .fig_card_regular{            
            height: 210px;
            width: 100%;
        }

        & .content_card_regular{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-left: 20px;            
            width: 63.5%;

            h4{
                font-size: $font-size-hregular;  
                font-family: $font-family-title;            
                color: $font-color-primary;
                text-align: left;     
                line-height: $line-heigt-h4b; 
                padding-top: 12px;   
                 
                font-weight: bold; 
            }
    
            >p{                
                padding-bottom: 35px;
                padding-right: 35px;
                font-size: $font-size-h5;  
                font-family: $font-family-p;            
                color: $font-color-regular;
                line-height: $line-heigt-p;       
                text-align: left; 
            }
        }  
    }
    
    .foot_popular{
        display: flex;
        justify-content: space-between;        
        padding-top: 56px;                

        .arrows{
            display: flex;
            
            p{
                padding-left: 10px;
                font-family: $font-family-p;
                font-size: $font-size-p;
                color: $font-color-secondary;
            }
        }
    }
}

/*****FOOTER*****/

footer{
    background: #316099;
}

.intersted{
    background: #316099;
    display: flex;
    flex-direction: column;
    width: 65%;
    margin: auto;    

    & .intersted_top{
        display: flex;
        flex-direction: row;        

        & .content_intersted_top{
            width: 50%;
            display: flex;
            flex-direction: column;                        

            h3{
                font-size: $font-size-h3;
                font-family: $font-family-title;
                line-height: $line-heigt-h3; 
                color: $font-color-default;               
                padding-top: 91px;
                width: 70%;                
                text-align: left; 
            }
    
            p{
                padding-top: 32px;
                padding-bottom: 90px;                
                justify-content: left;
                font-size: $font-size-p;
                color: $font-color-default;
                font-family: $font-family-p;
                line-height: $line-heigt-p;
                opacity: 60%;
                text-align: left;
                width: 90%;                                  
            }              
        }

        & .button_intersted_top{
            display: flex;
            align-items: center;
            justify-content: right;            
            width: 50%;

            button{
                width: 220px;
                height: 56px;
                border: none;
                color: $font-color-default;
                background: #5A98D0;
                font-family: $font-family-p;
                font-size: $font-size-p;
            }
        }         
    }

    hr{
        width: 100%;
        border: 1px solid $font-color-default;        
    } 

    .intersted_button{
        width: 100%;    
        padding: 98px 0 64px 0;
        display: flex;
        justify-content: space-between;

        & .lu_primary_intersted_button {        
            width: 30%;
            color: $font-color-default;

            lu{
                display: flex;
                flex-direction: column;            
                list-style: none;                

                & li{                
                    display: flex;                            
                    padding-bottom: 24px;
                    align-items: flex-start;

                    span{
                        font-size: $font-size-p;
                        font-family: $font-family-p;                                                
                        padding-top: 5px;
                    }

                    a{
                        padding-left: 16px;
                        font-size: $font-size-p;
                        font-family: $font-family-p; 
                        line-height: $line-heigt-p;
                    }            
                }
                & li:nth-child(1){                
                    display: flex;                           
                    align-items: center;
                    padding-bottom: 32px;

                    h2{
                        padding-left: 25px;
                        font-size: 28px;
                        font-family: "Gilroy";
                        color: $font-color-default;
                    }            
                }
            }
        }

        & .lu_secondary_intersted_button {        
            width: 25%;
            color: $font-color-default;

            lu{
                display: flex;
                flex-direction: column;            
                list-style: none;
                padding-left: 35%;

                & li{                
                    display: flex;                            
                    padding-bottom: 24px;                

                    a{
                        padding-left: 16px;
                        font-size: $font-size-p;
                        font-family: $font-family-p; 
                        line-height: $line-heigt-p;
                    }            
                }
                
                & li:nth-child(1){                
                    display: flex;                           
                    align-items: center;
                    padding-bottom: 32px;                    
                    font-size: $font-size-h2;
                    font-family: $font-family-title;
                    color: $font-color-default;                
                }
            }
        }   
    }
    
    & .right_reserved{    
        padding: 40px 0 64px 0;
        font-size: $font-size-p;
        font-family: $font-family-p;
        color: $font-color-default;
        opacity: 40%;
    }
}