*{
    box-sizing: border-box;

}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 956px;
    margin:auto;
}


.wrapper header {    
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
    align-items: center;    
}

.wrapper .logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1% 2.5%;    
}

.wrapper .logo .c2{
    margin-left: -21%;
}
.wrapper .logo .c3{
    margin-left: -21%;
}
.wrapper .logo .c4{
    margin-left: -21%;
}
.wrapper .logo .c5{
    margin-left: -16%;
}

.wrapper nav{
    display: flex;        
    margin-left: 8.5%;    
    font-size: 100%;
    font-family: "Raleway";
    font-size: bold;
    cursor: pointer;
}

.wrapper nav div{
    padding-left: 20px;
}

.wrapper nav div:hover{
    color:#00CF95;
}
.wrapper .about-me{
    color:#832FDA;
}

.wrapper .about-me hr{    
    height: 5px;
    border-radius: 8px;
    background: #832FDA;
}

.wrapper main{
    flex-grow: 1;
}

.wrapper main  .presentation{
    margin-top: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: brown;
    padding-bottom: 2%;    
}

.wrapper main  .presentation >div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.wrapper main .dates_p{    
    margin-left: 6%;   
    display: flex;
    flex-direction: column;
    width: 45%;    
}

.wrapper main  .dates_p h4{    
    font-family: poppins;
    font-size: 16px;    
}
.wrapper main  .dates_p h3{    
    font-family: poppins;      
    margin-top: 3%;
    font-size: 32px;  
}
.wrapper main  .dates_p h2{    
    font-family: poppins;    
    font-size: 39px;  
    margin-top: 3%;      
    box-sizing: border-box;
    display: block;
    color: #00CF95;
}

.wrapper main .dates_p .bar_cod_p{
    display: flex;
    flex-direction: row;
    align-items: center;    
    margin-top: 5%;
    margin-bottom: 5%;    
}

.wrapper main .dates_p .bar_p{
    background: #80E7CA;
    width: 1%;
    height: 100px;
}

.wrapper main  .dates_p p{    
    font-family: raleway;  
    font-size: 13px;    
    padding-left: 20px;
    line-height: 24px;
    width: 76%;     
}
.wrapper main .dates_p .icons_p{
    display: flex; 
    flex-direction: row;    
}

.wrapper main .dates_p .botons_icons_p{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;    
}

.wrapper main .dates_p .botons_icons_p button{    
    width: 160px;    
    height: 45px;
    background:#6D0AD3;
    color: white;
    font-size: 13px;
    border: none;

}

.wrapper main .dates_p .icons_p figure{
    margin-left: 10px;        
}


/* .wrapper main  .presentation .photo_p {    
    width: 322px;
    height: 322px;    
    display: flex;     
    align-items: center;
} */
.wrapper main  .presentation .photo_p{
    /* background: #D1FFA2;
    width: 322px;
    height: 322px; */
    border-radius: 500px;
    display: flex;     
    align-items: center;    
}

.wrapper main  .presentation .labels_p {
 display: flex;
 flex-direction: column;  
 padding-left: 2%; 
 align-self: flex-start; 
 margin-top: 3.5%;
}

.wrapper main .presentation .labels_p  figure{    
    display: flex;
    flex-direction: column;
    justify-content: center;    
}
   
.wrapper main  .presentation .down_p {
    width: 100%;
    margin-top: 4%;
    display: flex;
    flex-direction: column;    
    align-items: center;
}

.wrapper main  .presentation .down_p  p{    
    margin-top: 1%;
    color: #00CF95;
    font-size: 13px;
    font-family: raleway;
}

.wrapper main .portafolio{
    background-color: violet;
    padding-top: 2.5%;
    width: 100%;
    display: flex;
    flex-direction: column;     
    padding-bottom: 2%;  
    justify-content: center;      
}

.wrapper main .portafolio h2{
    font-family:"poppins";
    font-size: 42px;
    color: #0098EF;
    padding-bottom: 2%;
}

.wrapper main .portafolio div{
    display: flex;    
    flex-wrap: wrap;
    justify-content: center;
    /* padding: 0 10% 0 10%; */
}

.wrapper main .portafolio div figure{    
    justify-content: space-between;
}

.wrapper main .portafolio div figure:nth-child(odd){    
    padding-right: 2%;
    padding-bottom: 2%;
}

.wrapper main .portafolio div figure:nth-child(3){    
    padding-left: 2%;    
}

.wrapper main .portafolio div figure:nth-child(7){    
    padding-left: 2%;    
}

.wrapper main .services{
    background: tomato;
    padding-top: 2.5%;    
    display: flex;
    flex-direction: column;     
    padding-bottom: 2%;  
    justify-content: center;      
}

.wrapper main .services h2{
    font-family:"poppins";
    font-size: 28px;
    color: #0098EF;
    padding-bottom: 2%;
}

.wrapper main .services div{
    display: flex;
    flex-wrap: wrap;     
    justify-content: center;
    padding: 1%;
}

.wrapper main .services div .layouts_s{  
    display: flex;
    flex-direction: row;
    position: relative; 
    padding-left: 1.5%;        
}

.wrapper main .services div .layouts_s .wall_l_s:hover{        
    border: 2px solid #5A0CB0;    
}

.wrapper main .services div .layouts_s .label_l_s{          
    position: absolute;
    margin-left:-65%;
    margin-top:5%;
}

.wrapper main .services div .layouts_s p{    
    position: absolute;
    margin-left:50.315%;
    margin-top:45%;
    background: #D1FFA2;
    width: 40%;
    padding: 2% 10% 2% 10%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    font-family: poppins;
    font-size: 24px;
    /* border: 4px solid #5A0CB0; */
} 

.wrapper main .services div .layouts_s p:hover{    
    background: #5A0CB0;   
    color: white; 
}







/* 
.wrapper main .services div .layouts_s p{    
    position: absolute;
} */








footer {
    background: red;
}