/*
GLOBAL
estilos globales, aca ira los selectores de 
etiquetas globales
*/
*{
    box-sizing: border-box;
}
body {
    font-size: 16px;
    font-family: "Roboto";   
    margin: auto;
    width: 1440px; 
    font-size: 16px;
    line-height: 32px;
  }
  
  h2 {
    font-size: 28px;
    color: #87119A;
    font-family: 'Roboto';
    font-weight: bold;
  }
  
  /*HEADER
  aca iran estilos del header
  */
  .header{
    background: #9ECEFA;    
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
.header .logo{
    font-size: 42px;
    color: #87119A;
    text-decoration: none;
    font-family: Fascinate;
}
.header ul{    
    display: flex;
}
.header li{
    margin-left: 30px;        
}
.header a{
    text-decoration: none;
    color:rgb(127, 131, 67);
    font-size: 24px;
}
.header a:hover{
    text-decoration: underline;
    color:#87119A;
    font-weight: bold;
    font-size: 24px;    
}

/* MAIN */
.main{
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;
    padding-bottom: 81px;       
}
.main .list-figures{    
    display: flex;     
}

.main section{    
    margin-bottom: 50px;
}
.main h2{    
    margin-top: 33px;    
    display: flex;    
    align-items: center;
    margin-left: 36px;
}
.main h2 figure{    
    margin-right: 23px;
}
.main p{    
    padding: 36px;
    text-align: justify;
    font-size: 16px;
    font-weight: normal;
}

  /*
  HOME
  aca iran estilos de la seccion home*/  

  /*
  SERVICIOS
  aca iran estilos de la seccion servicios*/
  .main .services ul{
    display: flex;        
    justify-content: center;    
  }

  .main .services li{
    margin-left: 28px;
    margin-bottom: 50px;
  }
  /*
  PORTAFOLIO
  aca iran estilos de la seccion portafolio*/
  
.main .portafolio .list-figures li{      
  padding: 28px;   
  border-radius: 8px;    
}
  /*
  CONTACTO
  aca iran estilos de la seccion contacto*/
.main .contact .ubicacion{
    display: flex;
    margin-left: 44px;
}
  /*
  FOOTER
  aca iran estilos de la seccion footer*/
  
.footer{
    background: #9ECEFA;
    display: flex;
    justify-content: space-between;    
    padding: 20px;    
    position: relative;    
    height: 77px;    
    align-items: center;    
    font-weight: bold;    
}
.footer p{
    text-decoration:none;
    
}
.footer a{
    text-decoration:none;
    color: inherit;   
}
.footer a .autor{
    color: #87119A;
}