*{
    box-sizing: border-box;
    font-family: Roboto;
}

.wrapper {    
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: auto;    
    width: 960px;            
}

.wrapper header {
    background: red;
    height: 8%;
}

.wrapper .container{    
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: start;    
}

.wrapper aside{
    background: #C4C4C4;
    width: 20%;
}

.wrapper .container >div{
    width: 80%;
    height: 100%;   
    background: white;
    padding: 2%;    
}

.wrapper main {
    padding: 4%;  
    background: #C4C4C4;
    height: 100%;    
}

.wrapper main h1{
    padding-bottom: 2%;
    font-size: 32px;
}

.wrapper main p{    
    font-size: 18px;
    line-height: 32px;
    
}

.wrapper main .grid_figure {
        display: grid;
        grid-template-columns: 50% 50%;  
        width: 70%;        
        grid-column-gap: 10px;        
}

.wrapper main .grid_figure figure{    
    padding-top: 10%;
}



footer {
    background: red;        
        display: flex;
        flex-direction: column;
        height: 8%;    
}


@media (width:880px)  {

*{
    color:white;
}

    .wrapper{
        width: 880px;
    }
    .wrapper header {
        background: #FFB800;
    }

    .wrapper .container{    
        display: flex;
        flex-direction: column;
        flex-grow: 1;                
    }
    
    .wrapper aside{
        background: #14D1A4;
        width: 100%;
        height: 10%;
    }

    .wrapper .container > div{            
        padding: 4%;  
        width: 100%;   
        height: 100%;   
    }
    
    .wrapper main {        
        background:#5300BC;            
    }

    .wrapper main h1{    
        font-size: 24px;
    }

    .wrapper main p{    
        font-size: 16px;
        line-height: 32px;
        width: 80%;    
    }

    .wrapper main .grid_figure {
            display: grid;            
            grid-template-columns: 30% 30% 30%;  
            width: 92.5%;
            grid-column-gap: 25px;        
    }

    footer {
        background:#FFB800;
    }



}


@media (width:440px)  {

    *{
        color:black;
        box-sizing: border-box;  
    }
    
    .wrapper{
        width: 440px;
    }
    .wrapper header {
        background: #000AFF;            
    }

    .wrapper .container{    
        display: flex;
        flex-direction: column;
        flex-grow: 1; 
        width: 440px; 
            
    }
    
    .wrapper aside{
        background: #7800D7;
        width: 100%;
        height: 10%;
    }

    .wrapper .container > div{            
        padding: 4%;  
        width: 100%;  
    }
    
    .wrapper .container  main {        
        background:#C4C4C4;  
        width: 100%;
    }

    .wrapper .container  main h1{    
        font-size: 24px;
    }

    .wrapper .container  main p{    
        font-size: 14px;            
        width: 80%;
    }

    .wrapper .container   main .grid_figure {
            display: grid;            
            grid-template-columns: 30%;
            grid-column-gap: 25px;
    }

    .wrapper .container  main .grid_figure figure:nth-child(odd){
        display: none;
    }


    .wrapper footer {
        background:#000AFF;
    }

    

}