
/****HEADER****/

header{
    display:flex;
    align-items: center;
    height: 100px;
    justify-content: space-between;

    div{

        padding-left: 30px;
    }

    ul{
        display: flex;
        flex-direction: row;
    }

    li{
        padding-right: 36px;
        padding-left: 36px;
        font-size: $font-size-h2;
        font-family: $font-family-title;
        color: $font-color-primary;
        font-weight: bold;
    }

    @include breakpoint(md) {        
        justify-content: space-between;
                
        ul{
            li:last-child{
                padding-right: 70px;
            }
        }
    }

    
    @include breakpoint(xs) {         
        display: flex;
        justify-content: space-between;       
        
                
        ul{
            background: yellow;
            
            li{
                padding-left: 2%;
                // padding-right: 2%;

                &:last-child{
                    padding-right: 2px;
                }
            }

        }   
     }
   
}